<!DOCTYPE html>
<html lang="en">
<head>
    <title>Find your Hogwarts House by Traits</title>
</head>
<body>
<h1>Find your Hogwarts House by Traits</h1>
<form method="POST" action="{{ path('houses') }}">

    {% for HouseTrait in traits %}
        <input type="checkbox" name="traits[{{ loop.index }}]" value="{{ HouseTrait.Id().asString() }}">
        <label for="traits[{{ loop.index }}]">{{ HouseTrait.Name().asString() }}</label>
        <br>
    {% endfor %}
    <br>
    <button type="submit">See your matching Houses</button>
</form>
</body>
</html>